footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: rgb(78,93,229);
    background: linear-gradient(90deg, rgba(78,93,229,1) 0%, rgba(78,144,229,0.989233193277311) 51%, rgba(78,144,229,1) 100%);
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 400;
}

footer h5 {
    font-size: 1em;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.90em;
}

footer nav ul li {
    line-height: 30px;
}

footer .icono-footer {
    width: 110px;
    height: 100px;
    margin-top: 2%;
}

footer .social-networks .i {
    padding-right: 10px;
}

footer .social-networks ul li {
    display: flex;
    align-items: center;
}

footer .social-networks ul li .i {
    font-size: 1.20em;
}

footer .top-box {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 50px 0 50px 0;
    margin: auto;
}

footer .top-box img {
    width: 100px;
    height: 100px;
}

footer .top-box nav ul li a:hover {
    text-decoration: underline;
}

footer .bottom-box {
    width: 90%;
    height: auto;
    color: rgb(250,250,250);
    font-size: 0.85em;
    padding: 28px 0 28px 0;
    border-top: 2px solid rgb(224, 217, 217);
    margin: auto;
}

footer .bottom-box p {
    line-height: 20px;
    text-align: center;
}

footer .bottom-box a {
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-weight: 500;
    background-image: radial-gradient(circle at -1.23% 63.73%, #4a58b8 0, #304bad 50%, #003fa2 100%);
    border-radius: 5px;
}

footer .bottom-box :last-child {
    margin-top: 5px;
}

@media only screen and (max-width: 1024px) {

    
    footer .bottom-box :last-child {
        margin-top: 5px;
    }

}

@media only screen and (max-width: 768px) {

    footer .top-box {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    footer .top-box .icono_footer {
        margin: 3% auto 3% auto;
    }

    footer .top-box nav {
        margin: 0px 0px 30px 10%;
    }

    footer .bottom-box :last-child {
        margin-top: 5px;
    }

}    