header {
    width: 100%;
    height: auto;
    display: inline-flex;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;
    background-color: rgb(120, 11, 124);
}

header .left-box {
    display: flex;
    width: auto;
    margin-left: 10%;
}

header .icon-menu {
    display: none;
}

header img {
    width: 75px;
}

header nav ul {
    width: auto;
    height: auto;
}

header nav li {
    display: inline-flex;
}

header nav li a {
    display: flex;
    padding: 20px;
    color: #fff;
}

header nav li a:hover {
    color: rgb(226, 169, 169);   
}

.encoder-box {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1024px) {

    /* HEADER AND TOGGLE */

    header {
        flex-direction: column;
    }

    header .left-box {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin-left: 0%;
        padding: 10px 0 10px 0;
    }

    header .left-box .icon-menu {
        display: flex;
        margin-left: 15px;
    }

    header .left-box img {
        margin-right: 3%;
    }

    .hidden-menu {
        display: none;
    }

    header nav {
        width: 100%;
    }

    .visible-menu{
        border-top: 1px solid rgb(255, 255,255);
    }

    .visible-menu li{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(255, 255,255);
    }

    /* CSS GRID */

    header {
        grid-column: 1/6; 
        grid-row: 1/2; 
    }

}