* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}
/* SECTIONS */

.section-one {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 40px 0 40px 0;
}

.section-one h1 {
    display: block;
    margin: 0 auto 20px auto;
}

.section-one p {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
}